# Log files
*.log


a.out
exe*
freq
speed
test.exe
test_all
freq.exe
speedc
speed_c
speed_fftw3
*.i
*.s??*

*dvi

*.ods#
*~
*.o
*.a
timing.h
*.test


speed_fftw3_estimate
speed_fftw3_exhaustive
gen_complex_fft
gen_complex_fft_cs2


*.s

*out*
*.exe
*.exe?


timing.h


p4_524288.txt
p4_1048576.txt
p4_2097152.txt
p4_4194304.txt
p4_8388608.txt


speed_fftw3_2

speed_fftw3_3
speed_fftw3_4

p4*.c
p8*.c
gen_all_roots
speed2
